@page "/Contratar"

@using Monplaisir_ERP.Components.Layout

@layout EmptyLayout

<PageTitle>ERP Monplaisir</PageTitle>

<link href="css/comercio.css" rel="stylesheet" />

<h1>Contratar Servicio</h1>
<hr/>

<div class="columna">
    <!-- -->
    <div class="carta"> 
        <h2>Prueba Gratuitia</h2>
        <ul>
            <li>Unica versión disponible y relizable</li>
            <li>Disponibilidad total de las herramientas</li>
            <li>Totalmente gratis</li>
        </ul>
        <hr/>
        <NavLink href="/Registrar" class="nav-link" ActiveClass="active">
            <div class="boton">
                Contratar
            </div>
        </NavLink>
    </div>
    <!-- -->
    <div class="carta">
        <h2>Servicio UniLocal</h2>
        <ul>
            <li>Versión no disponible</li>
            <li>Mañana si, hoy no</li>
            <li>No la pienso desarrollar</li>
        </ul>
        <hr/>
        <div class="boton">No Disponible</div>
    </div>
    <!-- -->
    <div class="carta">
        <h2>Servicio MultiLocal</h2>
        <ul>
            <li>Versión no disponible</li>
            <li>Mañana si, hoy no</li>
            <li>No la pienso desarrollar</li>
        </ul>
        <hr/>
        <div class="boton">No Disponible</div>
    </div>
</div>

<hr/>

<div class="centrar">
     <NavLink href="/" class="nav-link" ActiveClass="active">
        <div class="boton">
            Volver
        </div>
    </NavLink>
</div>