@inherits LayoutComponentBase

<div clase="page">
    <main>
        <!-- Barra de navegación -->
        <div class="tope">
            <!-- Vacio como su nombre indica -->
        </div>

        
        <article class="content px-4 cuerpo">
            @Body
        </article>
        
    </main>
</div>