@page "/"
@using Monplaisir_ERP.Components.Layout

@layout CommercialLayout

<PageTitle>ERP Monplaisir</PageTitle>
<link href="css/comercio.css" rel="stylesheet" />

<!-- Un poco de relleno -->
<h1>Software de Gestión de Restaurantes</h1>
<hr/>
<div class="pagina">
    <div class="columna">
        <div>
            <p>Imagina tener en un solo lugar el control total de tu restaurante: desde la toma de pedidos en mesa o en línea, hasta el 
                inventario de cocina, las finanzas y la gestión de tu personal. Con nuestro ERP especializado en restaurantes, todo esto es 
                posible.</p>

            <p>Este sistema está diseñado para cubrir cada aspecto de la operación gastronómica, integrando de manera sencilla y eficiente 
                todas las áreas clave de tu negocio:</p>
        </div>
        <div class="columna">
            <img src="imagenes/restaurante01.jpg" alt="Imagen Restaurante" class="imgRef"/>
        </div>
    </div>
</div>
<hr/>

<!-- Otro poco de relleno -->
<h2>Ventajas de usar un ERP</h2>
<dvi class="pagina">
    <div class="columna">
        <div>
            <img src="imagenes/mesero01.jpg" alt="Imagen Restaurante" class="imgRef"/>
        </div>
        <div>
            <ul>
                <li>Control total del negocio
                    <ul>
                        <li>Centraliza información de ventas, inventarios, compras, proveedores, empleados y clientes.</li>
                        <li>Evita tener datos dispersos en diferentes sistemas o en hojas de Excel.</li>
                    </ul>
                </li>
                <li>Gestión de inventario en tiempo real
                    <ul>
                        <li>Controla el stock de ingredientes y productos.</li>
                        <li>Permite generar alertas cuando un insumo está por agotarse.</li>
                        <li>Reduce pérdidas por caducidad o sobrecompra.</li>
                    </ul>
                </li>
                <li>Optimización de compras y proveedores
                    <ul>
                        <li>Automatiza pedidos a proveedores según consumo real.</li>
                        <li>Permite negociar mejores precios gracias a reportes de consumo.</li>
                    </ul>
                </li>
                <li>Mejora en la atención al cliente
                    <ul>
                        <li>Integración con sistemas de punto de venta (POS).</li>
                        <li>Acelera la toma de pedidos en mesa o en línea.</li>
                        <li>Permite personalizar ofertas o promociones según el historial del cliente.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</dvi>
