@page "/Registrar"

@using Monplaisir_ERP.Components.Layout

@layout EmptyLayout

<PageTitle>ERP Monplaisir</PageTitle>

<link href="css/comercio.css" rel="stylesheet" />

<h1>Registro</h1>
<hr/>