@inherits LayoutComponentBase

<div clase="page">
    <main>
        <div class="tope">
        </div>

        <article class="content px-4 cuerpo">
            @Body
        </article>
        
    </main>
</div>